# DATABRICKS ENV
# scikeras==0.8.0
# 10.4 LTS ML w/o GPU, Spark 3.2.1, Scala 2.1.2

setuptools
wheel
jupyter
numpy
scipy
pandas
matplotlib
seaborn
findspark
pyspark
pyarrow
delta-spark
tensorflow
keras
scikeras
scikit-learn
imbalanced-learn
lightgbm
category-encoders